**/*.mp4
**/__pycache__/**
**/*.pt
**/*.pkl

**/runs/**

**/botsort.yaml
tmp/**

!train/models/**
train/detection/datasets/**

run.bat
test_outputs/**

**/*.log
**/*.json
**/.env

!server/inference/weights/**
!.vscode/tasks.json
!documentation/Video Tutorial.mp4

test/**
