**/*.mp4
**/__pycache__/**
**/*.pt
**/*.pkl

train/datasets/**
**/runs/**

**/botsort.yaml
src/individual_surfers/**
individual_surfers/**

!train/models/**

run.bat
test_outputs/**

**/*.log
**/*.json
**/.env

!server/inference/weights/**