**/*.mp4
**/__pycache__/**
**/*.pt
**/*.pkl

**/runs/**.pt

**/botsort.yaml
tmp/**

!train/models/**
train/detection/datasets/**

run.bat
test_outputs/**

**/*.log
**/*.json
**/.env

.docs_agent/**
!.docs_agent/state.json

!video_processing/inference/weights/**
!.vscode/tasks.json
!documentation/Video Tutorial.mp4

!frontend/public
