# Computer Vision and Video Processing
opencv-python>=4.8.0
numpy>=1.24.0

# Machine Learning
ultralytics>=8.0.0 # For YOLO fine-tuning and inference


# Progress bars and utilities
tqdm>=4.65.0

# Configuration files
PyYAML>=6.0

vidstab


torch>=2.0.0
gdown
tensorboard

pillow

cython

pulp
 
# GUI for interactive player
PySide6>=6.6.0

modal

optuna
