# Go to console.cloud.googe.com -> Cloud Run -> Services -> Edit&deploy new revision -> Variables & Secrets -> enter your env vars here, then deploy

MODAL_SHARED_SECRET=SOME_SHARED_SECRET_XXX
MODAL_TRIGGER_BASE_URL=https://XXX.modal.run

FIREBASE_STORAGE_BUCKET=XXX.firebasestorage.app

MAX_JOBS_PER_USER=5

FIRESTORE_DATABASE=(default)
